*~
*.pyc
.*.sw?
.project
.pydevproject
rally_conf.json
/docs/**/build/
_build
/docs_output/
/releng/
.idea
.coverage
cover
coverage.xml
nosetests.xml
functest.egg-info
*venv
.tox
*.out
*.pdf
docs/_build/*
