# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
pbr!=2.1.0 # Apache-2.0
PyYAML # MIT
requests # Apache-2.0
robotframework>=3.0
scp
cloudify-rest-client
mock # BSD
PrettyTable<0.8 # BSD
six # MIT
snaps
paramiko # LGPLv2.1+
Jinja2 # BSD License (3 clause)
xtesting
os-client-config # Apache-2.0
shade # Apache-2.0
ruamel.yaml.jinja2 # MIT
