git+https://gerrit.opnfv.org/gerrit/barometer#egg=baro_tests
git+https://gerrit.opnfv.org/gerrit/sdnvpn#egg=sdnvpn
git+https://gerrit.opnfv.org/gerrit/opera#egg=opera
git+https://gerrit.opnfv.org/gerrit/securityscanning#egg=securityscanning
git+https://gerrit.opnfv.org/gerrit/sfc#egg=sfc
git+https://gerrit.opnfv.org/gerrit/parser#egg=tosca-parser&subdirectory=tosca2heat/tosca-parser
git+https://gerrit.opnfv.org/gerrit/parser#egg=heat-translator&subdirectory=tosca2heat/heat-translator
networking-bgpvpn
rally
tempest>=15.0.0 # Apache-2.0
git+https://github.com/openstack/refstack-client#egg=refstack-client
