---
tiers:
    -
        name: healthcheck
        description: >-
            First tier to be executed to verify the basic
            operations in the VIM.
        testcases:
            -
                case_name: connection_check
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    This test case verifies the retrieval of OpenStack clients:
                    Keystone, Glance, Neutron and Nova and may perform some
                    simple queries.
                run:
                    name: connection_check

            -
                case_name: tenantnetwork1
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    It creates and configures all tenant network ressources
                    required by advanced testcases (subnet, network and
                    router).
                dependencies:
                    - NO_TENANT_NETWORK: '^(?![tT]rue$)'
                run:
                    name: tenantnetwork1

            -
                case_name: tenantnetwork2
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    It creates new user/project before creating and configuring
                    all tenant network ressources required by a testcase
                    (subnet, network and router).
                dependencies:
                    - NO_TENANT_NETWORK: '^(?![tT]rue$)'
                run:
                    name: tenantnetwork2

            -
                case_name: vmready1
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    It inherits from TenantNetwork1 which creates all network
                    resources and prepares a future VM attached to that
                    network.
                run:
                    name: vmready1

            -
                case_name: vmready2
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    It creates new user/project before creating and configuring
                    all tenant network ressources, flavors, images, etc.
                    required by advanced testcases.
                run:
                    name: vmready2

            -
                case_name: singlevm1
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    It inherits from TenantNetwork1 which creates all network
                    resources and completes it by booting a VM attached to that
                    network.
                run:
                    name: singlevm1

            -
                case_name: singlevm2
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    It creates new user/project before creating and configuring
                    all tenant network ressources and vms required by advanced
                    testcases.
                run:
                    name: singlevm2

            -
                case_name: vping_ssh
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    This test case verifies: 1) SSH to an instance using
                    floating IPs over the public network. 2) Connectivity
                    between 2 instances over a private network.
                run:
                    name: vping_ssh

            -
                case_name: vping_userdata
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    This test case verifies:  1) Boot a VM with given userdata.
                    2) Connectivity between 2 instances over a private network.
                run:
                    name: vping_userdata

            -
                case_name: cinder_test
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    This test case verifies: 1) Attach volume and to 1
                    instance; 2) Write data on volume 3) Detach volume
                    from instance 1, attach it on instance 2 3) Read volume
                    data
                run:
                    name: cinder_test

            -
                case_name: odl
                project_name: functest
                criteria: 100
                blocking: true
                description: >-
                    Test Suite for the OpenDaylight SDN Controller. It
                    integrates some test suites from upstream using
                    Robot as the test framework.
                dependencies:
                    - DEPLOY_SCENARIO: 'odl'
                run:
                    name: odl
                    args:
                        suites:
                            - /src/odl_test/csit/suites/integration/basic
                            - /src/odl_test/csit/suites/openstack/neutron

            -
                case_name: tempest_smoke
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    This test case runs the smoke subset of the OpenStack
                    Tempest suite. The list of test cases is generated by
                    Tempest automatically and depends on the parameters of
                    the OpenStack deplopyment.
                    https://github.com/openstack/tempest/blob/18.0.0/tox.ini#L114
                run:
                    name: tempest_common
                    args:
                        mode: '(?=.*\[.*\bsmoke\b.*\])(^tempest\.api)'
                        option:
                            - '--concurrency=4'

            -
                case_name: tempest_horizon
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    This test case runs the Tempest suite proposed by the
                    Horizon project.
                dependencies:
                    - DASHBOARD_URL: '^(?!\s*$).+'
                run:
                    name: tempest_horizon
                    args:
                        mode: '^tempest.scenario.test_dashboard_basic_ops.'
